<!DOCTYPE html>
<html>
  <head>
    <title>URL-Unicorn</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
  </head>
  <body>
    <h1>URL Unicorn</h1>
    <input type="text" id="urlInput" placeholder="Enter URL to shorten..." />
    <div style="margin-top: 10px">
      <button onclick="shortenURL()">Shorten</button>
      <button onclick="generateQR()">Generate QR</button>
    </div>
    <div id="result"></div>
    <div id="qrResult"></div>

    <script src="../static/scripts/script.js"></script>
  </body>
</html>
